@model List<ride>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PoOpOo</title>
</head>
<style>



</style>
<body>
    

    
    <a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">LogOut</a>
    <h1>Welcome @ViewBag.User.Email</h1>
    
    <table class="table table-hover">
        <thead>

            <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Comment count</th>
            <th>Action</th>
            <th>Map</th>

            
            </tr>
            
        </thead>
        <tbody>

            @foreach(var w in @Model)
            {
                <tr>
                    <td><a asp-action="Show" asp-controller="ride" asp-route-rideId="@w.rideId"> @w.ridename</a></td>
                    <td>@w.ridecity</td>
                    <td>@w.ridestate</td>
                    <td>@w.comments.Count</td>
                    <td><a asp-action="destroy" asp-controller="ride" asp-route-rideId="@w.rideId">DELETE</a></td>
                </tr>
            }


        </tbody>
    </table>

    <script async defer src=@ViewBag.ApiKey></script>
    <a class="btn btn-danger" asp-action="New" asp-controller="ride">Create ride</a>
</body>
</html>