@model List<ride>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<style>
    #wrapper {
        width: 100%;
        margin: 0px;
    }
    body {
        background-color: #293241;
    }
    * {
        @* outline: thin dotted pink; *@
        font-family: Arial, Helvetica, sans-serif;
    }
    nav {
    color: #ebebe3;
    background-color: #293241;
    display: inline-block;
    width: 100%;
  }
    #Header {
    font-size: 35pt;
  }
  #HeaderSub {
    margin-top: -2%;
    padding: 1%;
  }
  #splashimgdiv {
    height: auto;

  }
  #splashimg {
      width: 100%;
  }



    /* The CONTACT Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.7); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
    background-color: lightgrey;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    }
    /* The Close Button */
    .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    #maintablecontainer {
        height: auto;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 5%;
        background-color: #3d5a80;
        padding: 5%;
        border-radius: 10px;
        border: 2px solid #e0fbfc;
    }
    #maintable {
        background-color: #3d5a80;
        width: 90%;
        margin-left: 5%;
        margin-right: 5 %;
    }
    #maintable th, td {
        color: whitesmoke;
        text-align: center;
    }

    .createbutton {
        display: inline-block;
        margin-top: 1%;
        margin-bottom: 4%;
        margin-left: 25%;
        margin-right: 25%;
        padding: 10px 40px;
        text-align: center;
        width: 50%;
        font-size: 14pt;
        transition-duration: .4s;
        cursor: pointer;
        border-radius: 15px;
        color: whitesmoke; 
        background-color: #ee6c4d;
    }
    .createbutton:hover {
      background-color: #e0fbfc;
      color: #293241;
    }

    #footerdiv {
        color: whitesmoke;
    }
    .FooterLink1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        background-color: #222831;
        display: block;
        width: 200px;
        text-align: center;
    }



</style>
<body>
    

    
<div id="wrapper">
    <nav>
        <div class="w3-bar">
            <span id="Header" class="w3-bar-item  w3-padding-14">RouteShare</span>
            <a href="#" id="myBtn" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink">Contact</a>
            <a style="text-decoration: line-through" asp-action="SignIn" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink" asp-controller="Home">LogIn</a>
            <a asp-action="newinfo" asp-controller="ride" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink">Info/Create</a>
            <a asp-action="Dashboard" asp-controller="ride" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink">Home</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-padding-16 NavLink" onclick="myFunction()">&#9776;</a>
        </div>
            <div id="HeaderSub">A simple web app to share/view KML files</div>
        <div id="dropdown" class="w3-bar-block w3-hide w3-hide-large NavLink">
            <a asp-action="Dashboard" asp-controller="ride" class="w3-bar-item w3-button NavLink">Home</a>
            <a asp-action="newinfo" asp-controller="ride" class="w3-bar-item w3-button NavLink">Info/Create</a>
            <a asp-action="SignIn" class="w3-bar-item w3-button NavLink" asp-controller="Home" style="text-decoration: line-through">LogIn</a>
            <a href="#" id="myBtnsml" class="w3-bar-item w3-button NavLink">Contact</a>
        </div>
    </nav>
    <div id="splashimgdiv">
        <img id="splashimg" alt="motorcycles" src="https://www.dropbox.com/s/944sqf5oma9x7n5/spashimgroad.jpg?raw=1">
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-div">
                <span class="close">&otimes;</span>
                <h6>This web app was created by:</h6>
                <h2>Elliot McKinley</h2>
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-margin-right"></i> Chicago, US</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-margin-right"></i> 773-562-4265</p>
                <i class="fa fa-envelope fa-fw w3-text-white w3-margin-right"> </i><a href="mailto:mckinleyelliot@gmail.com">ElliotMcKinley@gmail.com</a><p> </p>
                <i class="fa fa-linkedin-square fa-fw w3-text-white w3-margin-right"></i><a href="https://www.linkedin.com/in/elliot-mckinley">LinkedIn Profile</a>
            </div>
        </div>
    </div>

<div id="maintablecontainer">
    <div id="maintable">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Comment #</th>
                <th>KML Link</th>

                </tr>
                
            </thead>
            <tbody>
                @foreach(var w in @Model)
                {
                    <tr>
                        <td><a asp-action="Show" asp-controller="ride" asp-route-rideId="@w.rideId"> @w.ridename</a></td>
                        <td>@w.ridecity</td>
                        <td>@w.ridestate</td>
                        <td>@w.comments.Count</td>
                        <td><a href="@w.kml_url">Download</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



    <a class="createbutton" asp-action="New" asp-controller="ride">Create ride</a>

<footer>
    <div id="footerdiv">
        <a href="#" class="w3-button w3-padding-large w3-margin-bottom FooterLink1"><i class="fa fa-arrow-up"></i> To the top <i class="fa fa-arrow-up"></i></a><br>
    </div>
</footer>

</div>
    <script async defer src=@ViewBag.ApiKey></script>
    <script> //Modal Scripts
// Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtnsml");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}
btn2.onclick = function() {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script> // Nav bar drop down for small screens
function myFunction() {
  var x = document.getElementById("dropdown");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>