@model ride

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #map {
        height: 300px;
        width: 500px;
    }
    #commentdiv {
      height: 75px;
      width: 200px;
      background-color: grey;
      margin: 5px;
    }
</style>
<body>
<br>
<a asp-action="Dashboard" asp-controller="ride" class="btn btn-warning">Home</a>


  <a asp-action="edit" asp-controller="ride" asp-route-rideId="@Model.rideId"class="btn btn-warning">Edit this ride</a>
  <a asp-action="destroy" asp-controller="ride" asp-route-rideId="@Model.rideId"class="btn btn-danger">DELETE this ride</a>

<br>
<h1>@Model.ridename info</h1> <br>
<h2>WHERE: @Model.ridecity, @Model.ridestate</h2>
<h2>Description: @Model.ridedesc</h2>

<div id="map"></div>


<div>
    <h6>Comments:</h6>
    @if (@Model.comments.Count == 0)
      {
    <a asp-action="newcomment" asp-controller="ride" asp-route-rideId="@Model.rideId" class="btn btn-warning">Be the first to leave a comment</a>

      }
      else {
          <a asp-action="newcomment" asp-controller="ride" asp-route-rideId="@Model.rideId" class="btn btn-warning">Leave a comment</a>
          <br>
          @foreach (var r in @Model.comments)
          {
              <div id="commentdiv">
              <p>Comment: @r.commentcontent</p>
              <p>Creator: @r.commentcreator</p>
              </div>
              @if (ViewBag.User.Email  == "mckinleyelliot@gmail.com" )
              {
                <a asp-action="LogOut" asp-controller="Home" class="btn btn-warning">Delete</a>
              }
          }

      }
</div>





<script>
        var src = '@Model.kml_url';
        function myMap() {  
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7
        });
        var kmlLayer = new google.maps.KmlLayer(src, {
          suppressInfoWindows: true,
          preserveViewport: false,
          map: map
        });
        kmlLayer.addListener('click', function(event) {
          var content = event.featureData.infoWindowHtml;
          var testimonial = document.getElementById('capture');
          testimonial.innerHTML = content;
        });
        }
</script>
<script async defer src=@ViewBag.ApiKey></script>



</body>
</html>